//font-family: 'Roboto', sans-serif; 400, 700

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: #e6dcd5;
  color: #181717;
}

svg {
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

